* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --twitter-blue: #1da1f2;
  --font-color: #0f1419;
  --bg-color: #fff;
  --border-color: #ebeef0;
  --ph-color: #5b7083;
  --sep-color: #f7f9fa;
  --sub-color: #89a2b8;
}

body {
  -webkit-font-smoothing: antialiased;
  color: var(--font-color);
}

body, input, textarea, button {
  font: 400 1rem Roboto, sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

a {
  color: inherit;
}




