* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --twitter-blue: #1da1f2;
  --font-color: #0f1419;
  --bg-color: #fff;
  --border-color: #ebeef0;
  --ph-color: #5b7083;
  --sep-color: #f7f9fa;
  --sub-color: #89a2b8;
}

body {
  -webkit-font-smoothing: antialiased;
  color: var(--font-color);
}

body, input, textarea, button {
  font: 400 1rem Roboto, sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

a {
  color: inherit;
}

/* page: timeline */

.layout {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.sidebar {
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar .logo {
  width: 2rem;
  height: 2rem;
}

.sidebar .new-tweet {
  background-color: var(--twitter-blue);
  border-radius: 9999px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--bg-color);
  font-size: 1.25rem;
  font-weight: 900;
  transition: all ease .2s;
}

.sidebar .new-tweet:hover {
  filter: brightness(0.9);
}

.main-navigation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-navigation a {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
}

.main-navigation a.active {
  color: var(--twitter-blue);
}

.main-navigation a svg {
  width: 2rem;
  height: 2rem;

}

.content {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.timeline-header {
  padding: 1.5rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 700;
  border-bottom: 1px solid var(--border-color);
}

.timeline-header svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--twitter-blue);
}

.new-tweet-form {
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.new-tweet-form label {
  display: flex;
  gap: 0.75rem;
}

.new-tweet-form label img {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}

.new-tweet-form label textarea {
  flex: 1;
  border: 0;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0.75rem;
  resize: none;
}

.new-tweet-form label textarea:focus {
  outline: none;
}

.new-tweet-form label textarea::placeholder {
  color: var(--ph-color);
}

.new-tweet-form button[type=submit] {
  margin-left: auto;
  background: var(--twitter-blue);
  border-radius: 9999px;
  padding: 0.75rem 1.5rem;
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: 900;
  transition: all ease .2s;
}

.new-tweet-form button[type=submit]:hover {
  filter: brightness(0.9);
}

.separator {
  background-color: var(--sep-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  height: 0.75rem;
}